body {

    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.top-ban {

    background-image: url("images/donation13.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 100px 100px;

}

.btn-orange {

    text-decoration: none;
    background-color: tomato;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

.donate-today {

    text-align: center;

}

.donate-today-taka {

    margin-top: 100px;
    margin-bottom: 100px;
}

.donate-today-taka a {

    text-decoration: none;
    background-color: rgba(184, 169, 169, 0.2);
    padding: 50px 30px;
    font-size: 30px;
    font-weight: 900;
    margin-right: 20px;
    border-radius: 5px;
    color: black;



}





.donate-today-p p {

    font-size: 20px;
    color: rgb(139, 142, 146);
}



#taka-2hun {

    border: 2px solid red;

    background-color: rgba(250, 99, 71, .25);
}

#other-amount {

    width: 50%;
    text-align: center;
    border: none;
    border-bottom: 2px solid rgb(126, 108, 108);
    font-size: 20px;
    padding-bottom: 15px;
}

/* donate plan part start */

.donate-plan {

    text-align: center;
}

.donate-plan-fse {

    display: flex;
    justify-content: center;
    text-align: left;

}

#food {

    width: 320px;
    height: 290px;

    margin-right: 20px;
    background-color: rgba(79, 157, 166, .15);
    border-radius: 5px;
    padding: 50px 20px 0px 20px;
}

#shelter {

    width: 320px;
    height: 290px;

    background-color: rgba(255, 89, 89, .15);
    border-radius: 5px;
    padding: 50px 20px 0px 20px;
}

#education {

    width: 320px;
    height: 290px;

    margin-left: 20px;
    background-color: rgba(255, 204, 102, .15);
    border-radius: 5px;
    padding: 50px 20px 0px 20px;
}

.icon {


    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.donate-plan-p p {
    font-size: 20px;
    color: rgb(139, 142, 146);
}


#volunteer {

    background-image: url("images/vol.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding: 50px 0px 0px 100px;

}

#volunteer p {
    font-size: 20px;
    color: black;
    font-size: 20px;
    margin: 0;

}

/* donate plan part end */

.Get-My-Updates {

    text-align: center;
}

#form-end {
    height: 100px;
    width: 500px;

    margin: 0 auto;
    padding: 60px 100px 0px 100px;
    background-color: #FFF4D6;
}

#email {

    background-color: #D9D9D9;
    border: none;
    height: 40px;
    border-radius: 5px;
    width: 300px;
    margin-right: 0;
    text-align: center;
    font-weight: 700;
    color: gray;
    font-size: 15px;
}


#submit {

    background-color: #FF5959;
    border: none;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    margin-left: 0;
    color: white;
    font-size: 15px;

}

footer {

    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

#humble {

    color: tomato;
    font-family: 'Lobster', cursive;
    font-size: 30px;


}